
#ignore vs code config files
*.vscode
#ignore micropython IDE for VSCode config files
*.micropythonrc
#ignore file with passwords
*passes.py
#hardware related files
*.kicad_pcb-bak
*.sch-bak
*.fp-info-cache
*.power_supply-cache.lib
*.kicad_pcb-bak
hardware/*-backups


#bonsai setting up files
software/bonsai/*.bin
software/bonsai/*.obj
software/bonsai/*.calibration
software/bonsai/*.displays*
software/bonsai/*.images*
software/bonsai/*.Packages
software/bonsai/*.yml
software/bonsai/*.exe
software/bonsai/*.exe.settings


