
#ignore vs code config files
*.vscode
#ignore micropython IDE for VSCode config files
*.micropythonrc
#ignore file with passwords
*passes.py
*.kicad_pcb-bak
*.sch-bak
hardware/gas_sensor/fp-info-cache
hardware/hum_temp_sensor/fp-info-cache
hardware/peltier/fp-info-cache
hardware/power_supply/power_supply-cache.lib
hardware/hp_led_switch/fp-info-cache
hardware/hp_led_switch/hp_led_switch-cache.lib
