<?xml version="1.0" encoding="utf-8"?>
<PackageConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Packages>
    <Package id="Bonsai" version="2.7.2" />
    <Package id="Bonsai.Arduino" version="2.6.0" />
    <Package id="Bonsai.Audio" version="2.7.0" />
    <Package id="Bonsai.Core" version="2.7.1" />
    <Package id="Bonsai.Design" version="2.7.0" />
    <Package id="Bonsai.Design.Visualizers" version="2.7.0" />
    <Package id="Bonsai.Dsp" version="2.7.0" />
    <Package id="Bonsai.Dsp.Design" version="2.7.0" />
    <Package id="Bonsai.Editor" version="2.7.2" />
    <Package id="Bonsai.Numerics" version="0.7.0" />
    <Package id="Bonsai.Osc" version="2.7.0" />
    <Package id="Bonsai.Scripting" version="2.7.0" />
    <Package id="Bonsai.Scripting.Expressions" version="2.7.0" />
    <Package id="Bonsai.Scripting.Expressions.Design" version="2.7.0" />
    <Package id="Bonsai.Scripting.IronPython" version="2.7.1" />
    <Package id="Bonsai.Scripting.IronPython.Design" version="2.7.1" />
    <Package id="Bonsai.Shaders" version="0.26.0" />
    <Package id="Bonsai.Shaders.Design" version="0.26.0" />
    <Package id="Bonsai.StarterPack" version="2.7.0" />
    <Package id="Bonsai.System" version="2.7.0" />
    <Package id="Bonsai.System.Design" version="2.7.0" />
    <Package id="Bonsai.Vision" version="2.7.0" />
    <Package id="Bonsai.Vision.Design" version="2.7.0" />
    <Package id="Bonsai.Windows.Input" version="2.7.0" />
    <Package id="IronPython" version="2.7.5" />
    <Package id="IronPython.StdLib" version="2.7.5" />
    <Package id="jacobslusser.ScintillaNET" version="3.6.3" />
    <Package id="MathNet.Numerics" version="4.5.1" />
    <Package id="openal.redist" version="2.0.7" />
    <Package id="OpenCV.Net" version="3.4.1" />
    <Package id="OpenTK" version="3.1.0" />
    <Package id="OpenTK.GLControl" version="3.1.0" />
    <Package id="Rx-Core" version="2.2.5" />
    <Package id="Rx-Interfaces" version="2.2.5" />
    <Package id="Rx-Linq" version="2.2.5" />
    <Package id="Rx-PlatformServices" version="2.2.5" />
    <Package id="SvgNet" version="3.2.0" />
    <Package id="System.Linq.Dynamic" version="1.0.7" />
    <Package id="YamlDotNet" version="12.0.2" />
    <Package id="ZedGraph" version="5.1.7" />
  </Packages>
  <AssemblyReferences>
    <AssemblyReference assemblyName="Bonsai" />
    <AssemblyReference assemblyName="Bonsai.Arduino" />
    <AssemblyReference assemblyName="Bonsai.Audio" />
    <AssemblyReference assemblyName="Bonsai.Core" />
    <AssemblyReference assemblyName="Bonsai.Design" />
    <AssemblyReference assemblyName="Bonsai.Design.Visualizers" />
    <AssemblyReference assemblyName="Bonsai.Dsp" />
    <AssemblyReference assemblyName="Bonsai.Dsp.Design" />
    <AssemblyReference assemblyName="Bonsai.Editor" />
    <AssemblyReference assemblyName="Bonsai.Numerics" />
    <AssemblyReference assemblyName="Bonsai.Osc" />
    <AssemblyReference assemblyName="Bonsai.Scripting" />
    <AssemblyReference assemblyName="Bonsai.Scripting.Expressions" />
    <AssemblyReference assemblyName="Bonsai.Scripting.Expressions.Design" />
    <AssemblyReference assemblyName="Bonsai.Scripting.IronPython" />
    <AssemblyReference assemblyName="Bonsai.Scripting.IronPython.Design" />
    <AssemblyReference assemblyName="Bonsai.Shaders" />
    <AssemblyReference assemblyName="Bonsai.Shaders.Design" />
    <AssemblyReference assemblyName="Bonsai.System" />
    <AssemblyReference assemblyName="Bonsai.System.Design" />
    <AssemblyReference assemblyName="Bonsai.Vision" />
    <AssemblyReference assemblyName="Bonsai.Vision.Design" />
    <AssemblyReference assemblyName="Bonsai.Windows.Input" />
  </AssemblyReferences>
  <AssemblyLocations>
    <AssemblyLocation assemblyName="Bonsai" processorArchitecture="MSIL" location="Packages\Bonsai.2.7.2\lib\net472\Bonsai.exe" />
    <AssemblyLocation assemblyName="Bonsai.Arduino" processorArchitecture="MSIL" location="Packages\Bonsai.Arduino.2.6.0\lib\net462\Bonsai.Arduino.dll" />
    <AssemblyLocation assemblyName="Bonsai.Audio" processorArchitecture="MSIL" location="Packages\Bonsai.Audio.2.7.0\lib\net462\Bonsai.Audio.dll" />
    <AssemblyLocation assemblyName="Bonsai.Core" processorArchitecture="MSIL" location="Packages\Bonsai.Core.2.7.1\lib\net462\Bonsai.Core.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Design.2.7.0\lib\net462\Bonsai.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design.Visualizers" processorArchitecture="MSIL" location="Packages\Bonsai.Design.Visualizers.2.7.0\lib\net462\Bonsai.Design.Visualizers.dll" />
    <AssemblyLocation assemblyName="Bonsai.Dsp" processorArchitecture="MSIL" location="Packages\Bonsai.Dsp.2.7.0\lib\net462\Bonsai.Dsp.dll" />
    <AssemblyLocation assemblyName="Bonsai.Dsp.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Dsp.Design.2.7.0\lib\net462\Bonsai.Dsp.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Editor" processorArchitecture="MSIL" location="Packages\Bonsai.Editor.2.7.2\lib\net472\Bonsai.Editor.dll" />
    <AssemblyLocation assemblyName="Bonsai.Numerics" processorArchitecture="MSIL" location="Packages\Bonsai.Numerics.0.7.0\lib\net462\Bonsai.Numerics.dll" />
    <AssemblyLocation assemblyName="Bonsai.Osc" processorArchitecture="MSIL" location="Packages\Bonsai.Osc.2.7.0\lib\net462\Bonsai.Osc.dll" />
    <AssemblyLocation assemblyName="Bonsai.Scripting" processorArchitecture="MSIL" location="Packages\Bonsai.Scripting.2.7.0\lib\net462\Bonsai.Scripting.dll" />
    <AssemblyLocation assemblyName="Bonsai.Scripting.Expressions" processorArchitecture="MSIL" location="Packages\Bonsai.Scripting.Expressions.2.7.0\lib\net462\Bonsai.Scripting.Expressions.dll" />
    <AssemblyLocation assemblyName="Bonsai.Scripting.Expressions.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Scripting.Expressions.Design.2.7.0\lib\net462\Bonsai.Scripting.Expressions.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Scripting.IronPython" processorArchitecture="MSIL" location="Packages\Bonsai.Scripting.IronPython.2.7.1\lib\net462\Bonsai.Scripting.IronPython.dll" />
    <AssemblyLocation assemblyName="Bonsai.Scripting.IronPython.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Scripting.IronPython.Design.2.7.1\lib\net462\Bonsai.Scripting.IronPython.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Shaders" processorArchitecture="MSIL" location="Packages\Bonsai.Shaders.0.26.0\lib\net462\Bonsai.Shaders.dll" />
    <AssemblyLocation assemblyName="Bonsai.Shaders.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Shaders.Design.0.26.0\lib\net462\Bonsai.Shaders.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.System" processorArchitecture="MSIL" location="Packages\Bonsai.System.2.7.0\lib\net462\Bonsai.System.dll" />
    <AssemblyLocation assemblyName="Bonsai.System.Design" processorArchitecture="MSIL" location="Packages\Bonsai.System.Design.2.7.0\lib\net462\Bonsai.System.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Vision" processorArchitecture="MSIL" location="Packages\Bonsai.Vision.2.7.0\lib\net462\Bonsai.Vision.dll" />
    <AssemblyLocation assemblyName="Bonsai.Vision.Design" processorArchitecture="MSIL" location="Packages\Bonsai.Vision.Design.2.7.0\lib\net462\Bonsai.Vision.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Windows.Input" processorArchitecture="MSIL" location="Packages\Bonsai.Windows.Input.2.7.0\lib\net462\Bonsai.Windows.Input.dll" />
    <AssemblyLocation assemblyName="IronPython" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.dll" />
    <AssemblyLocation assemblyName="IronPython.Modules" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.Modules.dll" />
    <AssemblyLocation assemblyName="IronPython.SQLite" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.SQLite.dll" />
    <AssemblyLocation assemblyName="IronPython.Wpf" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\IronPython.Wpf.dll" />
    <AssemblyLocation assemblyName="MathNet.Numerics" processorArchitecture="MSIL" location="Packages\MathNet.Numerics.4.5.1\lib\net461\MathNet.Numerics.dll" />
    <AssemblyLocation assemblyName="Microsoft.Dynamic" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Dynamic.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Scripting.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting.AspNet" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Scripting.AspNet.dll" />
    <AssemblyLocation assemblyName="Microsoft.Scripting.Metadata" processorArchitecture="MSIL" location="Packages\IronPython.2.7.5\lib\Net45\Microsoft.Scripting.Metadata.dll" />
    <AssemblyLocation assemblyName="OpenCV.Net" processorArchitecture="MSIL" location="Packages\OpenCV.Net.3.4.1\lib\net462\OpenCV.Net.dll" />
    <AssemblyLocation assemblyName="OpenTK" processorArchitecture="MSIL" location="Packages\OpenTK.3.1.0\lib\net20\OpenTK.dll" />
    <AssemblyLocation assemblyName="OpenTK.GLControl" processorArchitecture="MSIL" location="Packages\OpenTK.GLControl.3.1.0\lib\net20\OpenTK.GLControl.dll" />
    <AssemblyLocation assemblyName="ScintillaNET" processorArchitecture="MSIL" location="Packages\jacobslusser.ScintillaNET.3.6.3\lib\net40\ScintillaNET.dll" />
    <AssemblyLocation assemblyName="SVG" processorArchitecture="MSIL" location="Packages\SvgNet.3.2.0\lib\net461\SVG.dll" />
    <AssemblyLocation assemblyName="System.Linq.Dynamic" processorArchitecture="MSIL" location="Packages\System.Linq.Dynamic.1.0.7\lib\net40\System.Linq.Dynamic.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Core" processorArchitecture="MSIL" location="Packages\Rx-Core.2.2.5\lib\net45\System.Reactive.Core.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Interfaces" processorArchitecture="MSIL" location="Packages\Rx-Interfaces.2.2.5\lib\net45\System.Reactive.Interfaces.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Linq" processorArchitecture="MSIL" location="Packages\Rx-Linq.2.2.5\lib\net45\System.Reactive.Linq.dll" />
    <AssemblyLocation assemblyName="System.Reactive.PlatformServices" processorArchitecture="MSIL" location="Packages\Rx-PlatformServices.2.2.5\lib\net45\System.Reactive.PlatformServices.dll" />
    <AssemblyLocation assemblyName="YamlDotNet" processorArchitecture="MSIL" location="Packages\YamlDotNet.12.0.2\lib\net47\YamlDotNet.dll" />
    <AssemblyLocation assemblyName="ZedGraph" processorArchitecture="MSIL" location="Packages\ZedGraph.5.1.7\lib\net35-Client\ZedGraph.dll" />
  </AssemblyLocations>
  <LibraryFolders>
    <LibraryFolder path="Packages\openal.redist.2.0.7.0\build\native\bin\x64" platform="x64" />
    <LibraryFolder path="Packages\openal.redist.2.0.7.0\build\native\bin\x86" platform="x86" />
    <LibraryFolder path="Packages\OpenCV.Net.3.4.1\runtimes\win-x64\native\vc14\bin" platform="x64" />
    <LibraryFolder path="Packages\OpenCV.Net.3.4.1\runtimes\win-x86\native\vc14\bin" platform="x86" />
  </LibraryFolders>
</PackageConfiguration>